body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #283618;
    display: flex;
    flex-direction: column; /* Add this line to stack the header sections vertically */
    justify-content: center;
    color: white;
    align-items: center;
    height: 80px; /* Update the height to accommodate both header sections */
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid #BC6C25;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.top-header {
    background-color: #283618;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}

.bottom-header {
    background-color: #FEFAE0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 40px;
    width: 100%;
}
.white-box {
    background-color: #FEFAE0;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.edit-box {
    position: absolute;
    top: 90px; /* Position the box right below the header */
    right: 10px; /* Add some space between the box and the right edge of the screen */
    background-color: #BC6C25;
    color: #FEFAE0;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    width: 40px;
}


main {
    background-color: #606C38;
    padding: 10px;
    min-height: calc(100vh - (50px + 100px));
    margin-top: 80px;
    margin-bottom: 70px;
}
.info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
    width: 100%;
}
.info-box-text-left {
    text-align: left;
}
.info-box-text-center {
    text-align: center;
}

.info-box-images {
    display: flex;
    gap: 5px;
}
.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider img {
    width: 250px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the aspect ratio is maintained while resizing */
}
.slider {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    align-items: center;
}

.orange-box {
    position: relative; /* Add this line to set the reference point for absolute positioning */
    display: flex;
    align-items: center; /* Add this line to vertically align the text in the middle */
    justify-content: center; /* Add this line to horizontally align the text in the middle */
    width: 300px;
    height: 50px;
    background-color: #BC6C25;
    margin: 20px auto;
    align-self: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.white-box h3 {
    text-align: left;
    border-bottom: 1px solid black; /* Add this line to create an underline */
    margin-bottom: 10px; /* Add this line to create some space between the underline and the following content */
}

.orange-box h3 {
    color: black;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
    margin: 0; /* Add this line to remove any default margins on the header element */
}
.info-box-images img {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    padding: 5px;
}

.circle-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.circle {
    position: absolute; /* Add this line to position the circle relative to the orange-box */
    top: 50%; /* Add this line to vertically center the circle */
    right: 10px; /* Add this line to position the circle 10px left of the side of the orange box */
    transform: translateY(-50%); /* Add this line to adjust the vertical centering of the circle */
    width: 25px;
    height: 25px;
    background-color: #283618;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FEFAE0;
    font-weight: bold;
    font-size: 14px;
}

.dropdown {
    position: relative;

}
.orange-box .dropdown-header {
    color: black;
    font-size: 24px;
    margin: 0; /* Add this line to remove any default margins on the header element */

}
.dropdown-header {
    color: black;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {

    background-color: #FEFAE0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 300px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.dropdown-item.selected {
    background-color: #BC6C25;
}




.icon-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FEFAE0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 80px;

}



footer img {
    width: 50px;
    height: 50px;
}
